#contact-info {
    background-color: #e5e3d4; /* Light gray background */
    border: 0px solid #c9c9c9; /* Blue border */
    padding: 10px; /* Padding around the content */
    border-radius: 0; /* Sharp corners */
    width: 100%; /* Fixed width */
    margin: 10px; /* Margin around the component */
    color:#584335;
}

#contact-info h2 {
    font-size: 28px; /* Title font size */
    margin-bottom: 16px; /* Space below the title */
    text-align :left;
}

#contact-info p {
    text-align :left;

    font-size: 20px; /* Smaller font size for text */
    margin: 4px 6px; /* Space between paragraphs */
}